name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: install raylib
      run: |
        sudo add-apt-repository ppa:texus/raylib
        sudo apt-get update
        sudo apt install libraylib5-dev

    - name: make
      run: make all
